

a.menu:visited {
    background-color:rgba(255,255,255,0.5);
    padding-top:20px;
    padding-bottom:20px;
    padding-right:10px;
    padding-left:10px;
}

table.yellowmenu {
    text-align: center;
    position: relative;
    top:-350px;
    margin-left: auto;
    margin-right: auto;
}

table.yosemenu {
    text-align:center;
    position: relative;
    top:90pt;
    margin-left: auto;
    margin-right: auto;
}

table.grandmenu {
    text-align: center;
    position: relative;
    top:300pt;
    margin-left: auto;
    margin-right: auto;
}

table.startmenu {
    text-align:center;
    position: relative;
    top:50pt;
    margin-left: auto;
    margin-right: auto;
}

.logos{
    vertical-align: middle;
    position: relative;
    top: 10px;
    right: auto;
    left: auto;
    width: 30%;
    opacity:0.9;
    border:10px solid rgba(255,255,255,0.1);
    border-radius: 100%;
    transform:scale(2,2);
    transition:transform 0.5s ease , opacity 0.5s ease , border 0.6s ease , border-radius 0.5s ease;
}