

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link th:href="@{css/home.css}" href='#' rel="stylesheet" />
    <title>Moinsen</title>
</head>

<body style="overflow:hidden">

<div class="container">

    <img class="logo"  src="/bilder/logo.png">


    <table class="startmenu">
        <tr>

            <td><a href="landingpage">
                <img class="logos"  src="/bilder/p1.png">
            </a>
            </td>
            <td><a href="landingpage">
                <img class="logos" src="/bilder/p2.png">
            </a>
            </td>
            <td><a href="landingpage">
                <img class="logos" src="/bilder/p3.png">
            </a>
            </td>

        </tr>
    </table>

    <h3>by Leon, Cosimo</h3>

</div>

</body>

</html>