<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="UTF-8">
    <link th:href="@{css/landingpage.css}" href='#' rel="stylesheet" />

    <title>landingpage</title>

</head>




<body>


<div class="containergrandgeo">

    <p class="fontBig">Der intelligente Einkaufszettel</b> </p>

    <p class="fontLow">By Cole</b> </p>

    <td><a href="grand3.htm">
        <img class="ill"  src="bilder/cartonly.png"
        style = "width: 16%;"
        >
    </a>
    </td>


    <a href="#bottom">
        <img class="down"
             src="bilder/nachster.png"
             style="position:absolute; padding-top:200px; left:47%; width: 5%;"
        >
    </a>
</div>

<div class="container2" id="bottom">

    <table class="frame2">
        <tr>
            <td>
                <img class="bild" src="bilder/example.jpeg" style="width:400px; height:auto; right:3000px;">
            </td>
            <td style="padding-left:200px;">
                <p class="text1">
                    Lasse dir alle deine Produkte inklusive den aktuellen Preisen anzeigen und füge sie einfach deiner Liste hinzu. Teile jederzeit deine Einkaufslisten mit deinen Freunden und deiner Familie.
                </p>

            </td>
        </tr>
    </table>

</div>

<script src="effects/jquery.min.js"></script>
<script src="effects/parallax.js"></script>

<div class="parallax-container"
     data-parallax="scroll"
     data-bleed="10"
     data-speed="0.3"
     data-image-src="/bilder/example2.jpg"
     data-natural-width="2048"
     data-natural-height="1268"
     style="height:400px;position:relative;margin:0">
</div>

<div class="container3">

    <table class="frame3">
        <tr>
            <td style="padding-right:90px;">
                <p class="text1">Mit unserer Applikation kannst du immer und überall die Preise der jeweiligen Produkte vergleichen, speichern und mit jedem auf der Welt teilen.</p>
            </td>
            <td>
                <img src="bilder/example5.jpg" style="width:300px;height:auto" class="bildl">
            </td>
            <td>
                <img src="bilder/example4.jpg" style="width:300px;height:auto" class="bild">
            </td>
        </tr>
    </table>

</div>

<div class="container4">

    <table class="menu">
        <tr>
            <td><a href="home"      class="menu">Jetzt registrieren</a></td>
            <td><a href="home"   class="menu">Melde dich an</a></td>
            <td><a href="home"   class="menu">Erfahre mehr</a></td>

        </tr>
    </table>

</div>
<div class="container5">
    <table class="menu">
        <tr>
            <td><a href="yellowstone1.html" class="menu">Impressum</a></td>
            <td><a href="yosemite1.html" class="menu">Datenschutz</a></td>
        </tr>
    </table>
</div>
</body>

</html>
